body{
    background-color: #02233b;
}
#container{
    width: 800px;
    height: 900px;
    margin: 0 auto; /* 가운데 정렬 */
    border: 1px dotted gray;
    padding: 1px 20px;
    background: #fff url(../ch04/mic.png) no-repeat bottom right;
}
h1{
    background-color: #004344;
    text-align: center;
    color: white;
    padding: 20px;
}
h2{
    text-align: center;
}
h3{
    color: orange;
}
ul{
    list-style-type: none;
    margin: 20px;
}
li{
    line-height: 30px;
}